<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>For Demi - My Love, My Princess</title>
   <meta name="description" content="">
   <meta name="author" content="shhqin">

   <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
   <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
   <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

   <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700'>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">


  <script type="text/javascript">
    var yearVal = 31536000000;
    var monthVal = 2592000000;
    var dayVal = 86400000;
    var hourVal = 3600000;
    var minuteVal = 60000;

    function calcLapseDate()
    {

        // month starts from 0
        var startDate = new Date("2014/12/11 2:33");
        var myDate = new Date();

        // var offset = myDate.getTime() - startDate.getTime();
        // var offsetYear = parseInt(offset / yearVal);
        // var offsetMonth = parseInt((offset % yearVal) / monthVal);
        // var offsetDay = parseInt((offset % monthVal) / dayVal);
        // var offsetHour = parseInt((offset % dayVal) / hourVal);
        // var offsetMinute = parseInt((offset % hourVal) / minuteVal);



        var startYear = startDate.getFullYear();
        var startMonth = startDate.getMonth();
        var startDay = startDate.getDate();
        var startHour = startDate.getHours();
        var startMinute = startDate.getMinutes();

        var nowYear = myDate.getFullYear();
        var nowMonth = myDate.getMonth();
        var nowDay = myDate.getDate();
        var nowHour = myDate.getHours();
        var nowMinute = myDate.getMinutes();

        // true for 31days/month, false for 30days/month
        var lastMonth = (nowMonth - 1 + 12) % 12;
        var isBigMonth = false;
        if (lastMonth == 1 || lastMonth == 3 || lastMonth == 5 || lastMonth == 7 || lastMonth == 8 || lastMonth == 10 || lastMonth == 12) 
        {
          isBigMonth = true;
        };

        var isFebrary = false;
        if (lastMonth == 2) 
        {
          isFebrary = true;
        };

        var isLeapYear = false;
        if (nowYear % 4 == 0)
        {
          isLeapYear = true;
        };

        /*
          calc time diff
        */

        if (nowMinute < startMinute) 
        {
          nowMinute += 60;
          nowHour -= 1;
        }
        var offsetMinute = nowMinute - startMinute;

        if (nowHour < startHour) 
        {
          nowHour += 24;
          nowDay -= 1;
        }
        var offsetHour = nowHour - startHour;

        if (nowDay < startDay) 
        {
          if (isBigMonth == true) {
            nowDay += 31;
          } else {
            if (isFebrary == true) {
              if (isLeapYear == true) {
                nowDay += 29;
              } else {
                nowDay += 28;
              }
            } else {
              nowDay += 30;
            }
          }
          nowMonth -= 1;
        }
        var offsetDay = nowDay - startDay;

        if (nowMonth < startMonth) 
        {
          nowMonth += 12;
          nowYear -= 1;
        }
        var offsetMonth = nowMonth - startMonth;

        var offsetYear = nowYear - startYear;

        $('span.years').html(offsetYear);
        $('span.months').html(offsetMonth);
        $('span.days').html(offsetDay);
        $('span.hours').html(offsetHour);
        $('span.minutes').html(offsetMinute);
    }

    setInterval("calcLapseDate()", 1000);
    
  </script>
        
</head>
