<div class="container">
            <div class="header row">
                <div class="logo span4">
                    <h1><a href="">ForMyDemi</a> <span>.</span></h1>
                </div>
                <div class="call-us span8">
                    <p>Lover, Friend <span>and</span> Supporter</p>
                </div>
            </div>
</div>

<!-- Coming Soon -->
<div class="coming-soon">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>我跟黄嗯嗯已经在一起了：</h2>
                    <br/>
                    <div class="timer">
                        <div class="years-wrapper">
                            <span class="years"></span> <br>years
                        </div>
                        <div class="months-wrapper">
                            <span class="months"></span> <br>months
                        </div>
                        <div class="days-wrapper">
                            <span class="days"></span> <br>days
                        </div>
                        <div class="hours-wrapper">
                            <span class="hours"></span> <br>hours
                        </div>
                        <div class="minutes-wrapper">
                            <span class="minutes"></span> <br>minutes
                        </div>
                    </div>
                    <br/><br/>
                    <p>I will love you from this day, to the end of my last day.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- poet -->
<div  style='font-size: 28px;font-family:PMingLiU474283;text-align: center; margin-top: 40px;'>
    <span>一重山，兩重山。</span> <br/><br/><br/>
    <span>山遠天高煙水寒。</span><br/><br/><br/>
    <span>相思楓葉丹。 </span><br/><br/><br/>
</div>


