<div class="container">
            <div class="header row">
                <div class="logo span4">
                    <h1><a href="">ForMyDemi</a> <span>.</span></h1>
                </div>
                <div class="call-us span8">
                    <p>Lover, Friend <span>and</span> Supporter</p>
                </div>
            </div>
</div>

<!-- Coming Soon -->
<div class="coming-soon">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>我跟黄嗯嗯已经在一起了：</h2>
                    <br/>
                    <div class="timer">
                        <div class="years-wrapper">
                            <span class="years"></span> <br>years
                        </div>
                        <div class="months-wrapper">
                            <span class="months"></span> <br>months
                        </div>
                        <div class="days-wrapper">
                            <span class="days"></span> <br>days
                        </div>
                        <div class="hours-wrapper">
                            <span class="hours"></span> <br>hours
                        </div>
                        <div class="minutes-wrapper">
                            <span class="minutes"></span> <br>minutes
                        </div>
                    </div>
                    <br/><br/>
                    <p>I will love you from this day, to the end of my last day.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="timeline" class="timeline">
    <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="img/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>HTML5+CSS3实现的响应式垂直时间轴</h2>
            <p>网页时间轴一般用于展示以时间为主线的事件，如企业网站常见的公司发展历程等。本文将给大家介绍一款基于HTML5和CSS3的漂亮的垂直时间轴，它可以响应页面布局，适用于HTML5开发的PC和移动手机WEB应用。</p>
            <span class="cd-date">2015-01-06</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="img/cd-icon-movie.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
            <h2>jQuery+PHP动态数字展示效果</h2>
            <p>我们在一些应用中需要动态展示数据，比如当前在线人数，当前交易总额，当前汇率等等，前端页面需要实时刷新获取最新数据。本文将结合实例给大家介绍使用jQuery和PHP来实现动态数字展示效果。</p>
            <span class="cd-date">2014-12-25</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="img/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>PHP操作Session和Cookie</h2>
            <p>我们跟踪用户信息时需要用到Session和Cookie，比如用户登录验证、记录用户浏览历史，存储购物车数据，限制用户会话有效时间等。今天我们来了解下PHP是如何操作Session和Cookie的。</p>
            <span class="cd-date">2014-12-20</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="img/cd-icon-movie.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
            <h2>jQuery数字加减插件</h2>
            <p>我们在网上购物提交订单时，在网页上一般会有一个选择数量的控件，要求买家选择购买商品的件数，开发者会把该控件做成可以通过点击实现加减等微调操作，当然也可以直接输入数字件数。本文将介绍常见的几种使用spinner数字微调器来实现数字加减的功能的方法。</p>
            <span class="cd-date">2014-12-14</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="img/cd-icon-location.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
            <!-- <h2>收集整理的非常有用的PHP函数</h2> -->
            <p>我们终于在一起了。</p>
            <span class="cd-date">2014-12-11</span>
        </div>
    </div>
</section>
</div>

<!-- poet -->
<div  style="font-size: 28px;font-family:'kangxi','STSong','SimSun';text-align: center; margin-top: 40px;">
    <span>一重山，兩重山。</span> <br/><br/><br/>
    <span>山遠天高煙水寒。</span><br/><br/><br/>
    <span>相思楓葉丹。 </span><br/><br/><br/>
</div>


